<h1>ToDo App</h1>

<p> This is an app for creating and managing ToDo lists. </p>
<%= link_to("About", {action: 'about', page: 5, id: 20}) %><br />
<%= link_to("Categories", categories_path) %><br />
<%= link_to("Tasks", tasks_path) %>
