<%= link_to("Back", "/tasks") %> <br />

<h2>Edit Task</h2>
<%= form_for(@task) do |f| %>

    <%= render(partial: 'form', locals: {f: f})%>

    <div>
        <%= f.submit("Edit Task") %>
    </div>

<% end %>
